.weather-card {
  min-width: 6.5rem;
  text-align: center;
  padding: 1rem;
  margin: 0 0.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: none;
  transition: background-color 0.3s, box-shadow 0.3s;

  .day-of-the-week {
    font-size: 1.2rem;
  }

  .date {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.6);
  }

  .icon {
    height: 5rem;
    min-width: 5rem;
    display: inline-block;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../assets/img/weather-icons/noneAvailable.png);

    &.spin {
      animation: spin infinite 2s linear;
    }

    &.atmosphere {
      background-image: url(../assets/img/weather-icons/atmosphere.png)
    }
    &.clear {
      background-image: url(../assets/img/weather-icons/clear.png)
    }
    &.clouds {
      background-image: url(../assets/img/weather-icons/clouds.png)
    }
    &.snow {
      background-image: url(../assets/img/weather-icons/snow.png)
    }
    &.rain, &.drizzle {
      background-image: url(../assets/img/weather-icons/rain.png)
    }
    &.thunderstorm {
      background-image: url(../assets/img/weather-icons/thunderstorm.png)
    }

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  &.active {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

  }

  &:hover {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  }
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .weather-card {
    .day-of-the-week {
      font-size: 1.1rem;
    }
    .icon {
      height: 4rem;
      min-width: 4rem;
    }
  }
}