.weather-dock {
  flex-wrap: nowrap;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  overflow-x: auto;
  color: white;

  a {
    color: inherit;
  }

  .error {
    padding: 1.5rem 1rem;
    text-align: center;

    p {
      margin: 0;
      font-size: 1.2rem;
      color: white;
    }
  }

  .error-icon {
    height: 2.5rem;
    margin-bottom: 1rem;
    animation: shake infinite 2s linear
  }

  &.hourly {
    padding: 1.5rem 0;
  }

  @keyframes shake {
    0% {
      transform: rotate(0deg)
    }

    10% {
      transform: rotate(15deg)
    }

    20% {
      transform: rotate(0deg)
    }

    30% {
      transform: rotate(-15deg)
    }

    40% {
      transform: rotate(0deg)
    }
  }
}