@import '../node_modules/foundation-sites/assets/foundation.scss';

body {
  height: 100vh;
  background-position: 50%;
  background-size: cover;
  background-image: url(./assets/img/background.png);
} 